# file to ignore if you want to use git to track your eclipse workspace metadata directory. 

*.log
.metadata/.plugins/org.eclipse.m2e.core/nexus/
*.swp
.metadata/.plugins/org.eclipse.core.resources/.root/*.tree
.markers
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.team.cvs.core

